body {
  margin: 0% !important;
  background-color: whitesmoke !important;
  font-family: '';
}

a {
  color: #00b7ff;
}

.navbar {
  background-color: darkcyan !important;
  padding: 20px;
}

h1 {
  padding-top: 70px;
  padding-left: 520px;
  padding-bottom: 70px;
}

.heading {
  padding-left: 430px;
}

.checked {
  color: orange !important;
}
